<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldenbrothers.everylecture.Mypage.dao.IMypageDAO">

	<!-- 사용자 조회 -->
	<select id="selectOne" 
	parameterType="String"
	resultType="com.goldenbrothers.everylecture.Login.model.LoginDTO">
	
		SELECT * from test.user WHERE userID = #{userID}
		
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM test.user WHERE userID=#{userID};
	</delete>
	
	<!-- userName 업데이트 -->
	<update id="updateName" parameterType="com.goldenbrothers.everylecture.Login.model.LoginDTO" >
		UPDATE test.user SET userName = #{userName} WHERE userID = #{userID}
	</update>
	
	<!-- userPW 업데이트 -->
	<update id="updatePW" parameterType="com.goldenbrothers.everylecture.Login.model.LoginDTO">
		UPDATE test.user SET userPW = #{userPW} WHERE userID = #{userID}
	</update>
	
	<!-- 등록된 강의 삭제 -->
	<delete id="deleteRegisteredLecture" parameterType="HashMap">
		DELETE FROM test.userClass WHERE lectureID = #{lectureID} and userID = #{userID};
	</delete>

</mapper>