body {
  background: gray;
  background-image: radial-gradient(#444 20%, transparent 0), 
  radial-gradient(#444 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

#window {
	
	height: 800px;
	width: 80%;
	
	text-align: center;
	
	margin: auto;
	
	display: table;
}

#context {
	
	display: table-cell;
	vertical-align: middle;
	
	width: 100%;
	height: auto;
	
	margin: auto;
}

#indicator > a > div {
	color: white;
	border-color: white;
	font-size: 1.2em;
}

#yesNo {
	font-size: 1.2em;
	text-decoration: underline;
	
	color: white;
	
	border-left: 0px solid white;
	border-right: 0px solid white;
	
	margin-bottom: 20px;
}

