<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldenbrothers.everylecture.dao.IAdminDAO">

	<!-- 조회 -->
	<select id="selectOneAdmin" 
	parameterType="String"
	resultType="com.goldenbrothers.everylecture.model.AdminDTO">
	
		SELECT * from test.admin WHERE adminID = #{adminID}
		
	</select>

</mapper>