<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldenbrothers.everylecture.dao.ILectureDAO">

	
	<insert id="uploadLecture" parameterType="com.goldenbrothers.everylecture.model.LectureDTO">
		
		INSERT INTO test.lecture (adminID, lectureName, lectureExplain, lectureImgName, lectureImgPath)
		VALUES(#{adminID}, #{lectureName}, #{lectureExplain}, #{lectureImgName}, #{lectureImgPath})
	
	</insert>
	
	<select id="selectLectureAll" resultType="com.goldenbrothers.everylecture.model.LectureDTO">
		SELECT * FROM test.lecture
	</select>
	
	

</mapper>