<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldenbrothers.everylecture.dao.IUserDAO">

	<!-- userName 업데이트 -->
	<update id="updateName" parameterType="com.goldenbrothers.everylecture.model.UserDTO" >
		UPDATE test.user SET userName = #{userName} WHERE userID = #{userID}
	</update>
	
	<!-- userPW 업데이트 -->
	<update id="updatePW" parameterType="com.goldenbrothers.everylecture.model.UserDTO">
		UPDATE test.user SET userPW = #{userPW} WHERE userID = #{userID}
	</update>

</mapper>