body {
	
	height: 1000px;
	width: 1600px;
	
	margin: auto;
}


#lectureInfo {
	
	width: 100%;
	height: 300px;
	
	background-color: orange;
	
}

#lectureVideo {
	
	width: 100%;
	height: 300px;
	
	background-color: blue;
	
}