body {
	
	height: 1000px;
	width: 1600px;
	
	margin: auto;
	background-color:white;
}


#lectureInfo {
	
	width: 80%;
	height: auto;
	
	text-align:center;
	background-color:white;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:50px;
}

#lectureVideo {
	
	width: 80%;
	height: 300px;
	
	background-color:white;
	text-align:center;
	margin:0 auto;
}

#wrapper{
	width:80%;
	margin:0 auto;
	background-color:#BFBFE9;
}



#title{
	width:80%;
	height:60px;
	text-align:center;
	margin:0 auto;
	
	background-color:#BFBFE9;
	padding-top:50px;
	padding-bottom:30px;
	
}
#title > h3{
	font-size:3em;
}
#title > hr{
	width:80%;
}
#info_title{
	font-size:2em;
	padding-bottom:30px;
}

#lectureUploadForm{
	width:80%;
	margin:0 auto;
}
#lectureUploadForm > table{
	width:80%;
	text-align:center;
	margin:0 auto;
}




.upload_table{
	height:100%;
}
.upload_table > th {
	vertical-align: middle;
	border:3px dashed #bcbcbc;
}
.upload_table > th:nth-child(1) {
	width:20%;
}
.upload_table > th:nth-child(2) {
	width:80%;
}

input{
	height:60px;
	font-size:1em;	
	border:0px;
	padding-left:10px;
}
textarea{
	width:100%;
	font-size:1.2em;
	border:0px;
	padding-left:20px;
	padding-top:20px;
}
button{
	height:60px;
	font-size:1em;
	border:0px;
}

#tr1{
	height:60px;
}
#tr2{
	height:60px;
}
#tr3{
	height:60px;
}
#tr4{
	height:60px;
}

footer{
	width:80%;
	height:80px;
	background-color:#BFBFE9;
}
