@charset "UTF-8";


#navi {
	background-color: #6260b3;
	width: 100%;
}
body{
	width:1600px;
	height:1000px;
}


#lectureInfo{
	background-color:#E7E7E7;
	
	width:70%;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
	
	text-align:center;
}

#lectureVideo{
	background-color:#E7E7E7;
	
	width:70%;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}


#wrapper{
	
	width:1600px;
	height:auto;
	margin:0 auto;
	background-color:#BFBFE9;
	
	padding-top:5px;
	
	background-image: radial-gradient(#444 20%, transparent 0), 
	radial-gradient(#444 20%, transparent 0);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}


#title{
	background-color:#E7E7E7;
	width:70%;
	height:100px;
	
	text-align:center;
	margin:0 auto;
	
	margin-bottom:5px;
	padding-top:30px;
	
}
#title > h3{
	font-size:2em;
}
#title > hr{
	width:80%;
}

#info_title{
	font-size:2em;
	padding-bottom:30px;
}

#content1{
	width:80%;
	margin:0 auto;
	background-color:#E7E7E7;
}

#lectureUploadForm{
	width:100%;
	margin:0 auto;
	background-color:#E7E7E7;
}
#lectureUploadForm > table{
	width:80%;
	text-align:center;
	margin:0 auto;
	background-color:white;
}




.upload_table{
	height:100%;
}
.upload_table > th {
	vertical-align: middle;
	border:3px dashed #bcbcbc;
}
.upload_table > th:nth-child(1) {
	width:20%;
}
.upload_table > th:nth-child(2) {
	width:80%;
}

input{
	width:100%;
	height:60px;
	font-size:1em;	
	border:0px;
	padding-left:10px;
}
textarea{
	width:100%;
	font-size:1.2em;
	border:0px;
	padding-left:20px;
	padding-top:20px;
}
button{
	height:60px;
	font-size:1em;
	border:0px;
}

#tr1{
	height:60px;
}
#tr2{
	height:60px;
}
#tr3{
	height:60px;
}
#tr4{
	height:60px;
}



/* footer */
#footer {
	width: 100%;
	height: auto;
	
	margin: auto;
}

#joinSession {
	width: 100%;
	height: 300px;
	
	background-color: #1d7cf8;
	
	margin: auto;
	
	text-align: center;
}

#joinSession > div {
	font-size: 2em;
	font-weight: bold;
	
	color: white;
	
	width: 100%;
	
	padding-top: 100px;
	margin-bottom: 20px;
}

#joinButtonFooter {
	height: 40px;
	width: 200px;
	
	background-color: white;
	
	border-radius: 5px;
	
	margin: auto;
	
	color: #300b4c;
	
	font-size: 1em;
	font-weight: bold;
}

/* last */
#last {
	background-color: #300b4c;
	
	width: 100%;
	height: 300px;
	
	color: white; 
}

#last_left {
	
	width: 50%;
	height: 100%;
	float: left;
	
	text-align: center;
}

#last_right {
	
	width: 50%;
	height: 100%;
	float: right;
	
	
}

