@charset "UTF-8";

/* 오버레이 설정 */
#overlay_wrapper {
	position: absolute;
	
	display: none;
	
	width: 500px;
	height: 500px;
	
	border-radius: 10px;
	border: 3px solid #300b4c;
	
	
	opacity: 0%;
	
	top: 25%;
	left: 50%;
	transform:translate(-50%, -50%);
	
	background-color: white;
	
	z-index: 3;
}

/* 오버레이 실제로 뜨는 창 */
#overlay_window {
	display: table;
	text-align: center;
	
	width: 100%;
	height: 100%;
	
}

#window_context {
	display: table-cell;
	vertical-align: middle;
	
	width: 90%;
	height: 90%;

}

#logoFull {
	width: 80%;
	height: auto;
}


#userID {
	
	height: 50px;
	width: 300px;
	
	text-align: center;
	
	color: white;
	background-color: #300b4c;
	
}

#userID::placeholder {
}

#userPW {
	height: 50px;
	width: 300px;
	
	text-align: center;
	
	color: white;	
	background-color: #300b4c;
	
}

#userPW::placeholder {
}

#loginSubmit {
	height: 50px;
	width: 300px;
	color: white;
}


#index_overlay {
	
	display: none;
	
	position: fixed;
	
	width: 100%;
	height: 100vh;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	opacity: 0%;
	
	background-color: black;
	
	z-index: 1;
	
	/* 포인터 호버시켜놓기 */
	cursor: pointer;
}



/* index_top.jsp */

#navi a {
	text-decoration: none;
	color: white;
	
	width: 100%;
	height: 100%;
/* 	display: flex; */
}

#logoImg {
	width: 50px;
	height: 50px;
	
	float: left;
}

#logo-wrap {
	
	min-width: 250px;
	height: 50px;
	
}

#logoWord {
	height: 50px;
	width: 200px;
	
	float: right;
	
	margin-top: 8px;
	
	font-size: 1.5em;
}

#lecture {
	float: right;
}

#navi {
	width: 100%;
	height: 50px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin: auto;
}

.index_top {
	
	color: white;
	
	display: inline-block;
	margin: auto;
	
	margin-left: 10px;
	margin-right: 10px;
	
	border-left: 1px solid white;
	border-right: 1px solid white;
	
	width: auto;
}

#top_right {
	float: right;
	margin-right: 1%;
	
}

#top_left {
	float: left;
	margin: auto;
	margin-left: 1%;
	
	display: table;
	
}

#top_left:first-child {
	height: 50px;
	width: 50px;
	
	display: flex;
}