@charset "UTF-8";

#testBtn {
	color: white;
	width: 300px;
	height: 100px;
}

#header {
	width: 100%;
	height: 400px;
}

#head {
	background-color: #58b9ff;
	height: 100%;
	width: 100%;
}

#head_left_wrap {
	float: left;
	height: 100%;
	width: 50%;
	display: table;
}

#head_left {
/* 	margin: auto; */
	
	width: 90%;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10%;
	color: white;
}

#left_sub {
	margin-left: auto;
}

#head_right_wrap {
	float: right;	
	height: 100%;
	width: 50%;
}

#intro {
	font-size: 2em;
}

/* index_top.jsp */

a {
	text-decoration: none;
	color: white;
	
	width: 100%;
	height: 100%;
/* 	display: flex; */
}

#logoImg {
	width: 50px;
	height: 50px;
}

#logoWord {
	height: 50px;
	min-width: 200px;
	
	margin-top: 10px;
	
	font-size: 1.5em;
}

#lecture {
	float: right;
}

#navi {
	background-color: #2f5597;	
	width: 100%;
	height: 50px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin: auto;
}

.index_top {
	
	color: white;
	
	display: inline-block;
	margin: auto;
	
	margin-left: 10px;
	margin-right: 10px;
	
	border-left: 1px solid white;
	border-right: 1px solid white;
	
	width: auto;
}

#top_right {
	float: right;
	margin-right: 1%;
	
}

#top_left {
	float: left;
	margin: auto;
	margin-left: 1%;
	
	display: table;
	
}

#top_left:first-child {
	height: 50px;
	width: 50px;
	
	display: flex;
}

/* 오버레이 설정 */
#overlay_wrapper {
	position: absolute;
	
	display: none;
	
	width: 500px;
	height: 500px;
	
	border-radius: 10px;
	
	opacity: 0%;
	
	top: 25%;
	left: 50%;
	transform:translate(-50%, -50%);
	
	background-color: white;
	
	z-index: 3;
}

/* 오버레이 실제로 뜨는 창 */
#overlay_window {
	display: table;
	text-align: center;
	
	width: 100%;
	height: 100%;
	
}

#window_context {
	display: table-cell;
	vertical-align: middle;
	
	width: 90%;
	height: 90%;
}


#userID {
	
	height: 50px;
	width: 300px;
	
	text-align: center;
	
	color: white;
	
}

#userID::placeholder {
	color: gray;
}

#userPW {
	height: 50px;
	width: 300px;
	
	text-align: center;
	
	color: white;
	
}

#userPW::placeholder {
	color: gray;
}

#loginSubmit {
	height: 50px;
	width: 300px;
	color: white;
}


#index_overlay {
	
	display: none;
	
	position: fixed;
	
	width: 100%;
	height: 100vh;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	opacity: 0%;
	
	background-color: black;
	
	z-index: 1;
	
	/* 포인터 호버시켜놓기 */
	cursor: pointer;
}