@charset "UTF-8";

body {
	width: 1600px;
	
	margin: auto;
}

#testBtn {
	color: white;
	width: 300px;
	height: 100px;
}

#header {
	width: 100%;
	height: 500px;
	
	overflow: visible;
}

#head {
	height: 100%;
	width: 100%;
	
}

#background {
	
/* 	position: absolute; */

	/* 패턴 만들기 */
	background-image: radial-gradient(#300b4c 20%, transparent 0),
	radial-gradient(#300b4c 20%, transparent 0);
	
	background-position: 0 0 0 0;
	background-size: 10px 10px;
	background-color: #6260B3;
	
	width: 100%;
	height: 550px;
	
	position: relative;
	z-index: -1;

}

#head_left_wrap {
	float: left;
	height: 100%;
	width: 50%;
	display: table;
}

#head_left {
	
	width: 90%;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10%;
	color: white;
	
	padding-top: 100px;
}

#left_sub {
	margin-left: auto;
}

#joinButton {
	height: 50px;
	width: 400px;
	
	background-color: #e5b565;
	
	text-align: center;
	
	color: white;
	
	font-size: 1.2em;
	font-weight: bold;
}

#lectureButton {
	
	height: 50px;
	width: 400px;
	
	background-color: #ad65e5;
	
	text-align: center;
	
	color: white;
	
	font-size: 1.2em;
	font-weight: bold;
	
}

#head_right_wrap {
	float: right;	
	height: 100%;
	width: 50%;
	display: table;
	text-align: center;
}

#head_right {
	display: table-cell;
	vertical-align: middle;
	
	opacity: 0;
}

#showTable {
	
	border: 5px solid white;
	border-radius: 10px;
	
	background-color: white;
	
	background: repeating-linear-gradient(-45deg, white, white 1px, #bcb195 0, #bcb195 50px);
	background-attachment:fixed;
	
	max-width: 500px;
	width: 100%;
	height: 500px;
	
	margin: auto;
	margin-top: 100px;
	margin-right: 200px;
}

#showTable > div:nth-child(1) {
	font-size: 1.5em;
	font-weight: bold;
	
	color: white;
	
	padding-top: 70px;
}
#showTable > div:nth-child(3) {
	width: 100%;
	height: 300px;
	
	font-size: 1.2em;
	
	color: white;
	
	line-height: 50px;
}
#showTable > div:nth-child(3) > div {
	
	width: 80%;
	
	margin: 0;
	margin-left: 60px;
	
	display: flex;
}

#table_intro {
	display: flex;
	
	margin: auto;
	margin-top: 50px;
	
}

#search_wrapper {
	box-shadow: 5px 5px 0px 0px gray;
}

#search {
	width: 350px;
	height: 55px;
	
	background-color: white;
	
	border-radius: 50px;
	text-align: center;
	
	font-style: 2em;
	
}

#table_intro label {
	background-color: white;
	display: flex;
	margin: auto;
	
	border-radius: 5px;
}

#search_icon {
	height: 20px;
	width: 20px;
	
	display: flex;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
	
}

#show_context {
	
	height: 100px;
	width: 100px;
	
	margin: auto;
	
	margin-top: 10px;
	
	display: block;
	
}

#intro {
	font-size: 3em;
}

#navi {
	background-color: #6260B3;
}

/* middle */
#middle {
	opacity: 70%;
	
	width: 80%;
	height: auto;
	
	margin: auto;
	
	padding-top: 150px;
}

#middle_intro {
	width: 100%;
	height: 200px;
	
/* 	background-color: blue; */
	
	margin: auto;
	
	text-align: center;
	
	
}

.middle_intro_show {
	
	display: inline-block;
	border: 2px solid black;
	
	vertical-align: middle;
	
	height: 100%;
	width: 32%;
	
/* 	margin: auto; */
}

.icon_show {
	width: 50px;
	height: 50px;
	
	margin-top: 15px;
	margin-bottom: 10px;
	
	padding: 0;
	
}

.horizon {
	max-width: 90%;
}

#program_intro {
	width: 100%;
	height: auto;
	
	margin: auto;
	margin-top: 200px;
	
}

#program_intro_wrapper {
	width: 90%;
	height: 200px;
	
	margin: auto;
	margin-bottom: 0;
	
	display: flex;
}

#program_intro_context {
	height: 50px;
	width: 400px;
	
	margin: auto;
	font-size: 1.7em;
	font-weight: bold;

}

.program_intro_imgs {
	min-width: 100px;
	min-height: 100px;
	
	height: 150px;
	width: 150px;
	
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
}

/* footer */
#footer {
	width: 100%;
	height: auto;
	
	margin: auto;
}

#joinSession {
	width: 100%;
	height: 300px;
	
	background-color: #1d7cf8;
	
	margin: auto;
	
	text-align: center;
}

#joinSession > div {
	font-size: 2em;
	font-weight: bold;
	
	color: white;
	
	width: 100%;
	
	padding-top: 100px;
	margin-bottom: 20px;
}

#joinButtonFooter {
	height: 40px;
	width: 200px;
	
	background-color: white;
	
	border-radius: 5px;
	
	margin: auto;
	
	color: skyblue;
	
	font-size: 1em;
	font-weight: bold;
}

