@charset "UTF-8";

input{
	width:300px;
	height:50px;
	padding:10px;
	vertical-align:top;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-left:7px;
	font-size:1em;
	text-align:center;
	color:white;
}

button{
	width:120px;
	height:50px;
	padding:10px;
	vertical-align:top;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-left:7px;
	color:white;
	font-size:1em;
}

#navi{
	background-color:#6260B3;
}

#logo-Full{
	width:600px;
	height:200px;
	margin:0;
}

/* #join_content{ */
/* 	width:900px; */
/* 	margin:0 auto; */
/* } */

#join_content{
	background-color:#BFBFE9;
	
	width:900px;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
}



#join_logo{
	width:850;
	margin:0 auto;
	text-align:center;
}

#join_Name{
	padding:5px;
	font-size:2em;
	font-weight:700;
}

#join_another{
	width:70%;
	margin:0 auto;
	text-align:center;
	padding-left:125px;
}

#join_button{
	width:100%;
	padding-top:30px;
	padding-left:30px;
	padding-bottom:3px;
	padding-right:3px;
}

#join_wrapper{
	margin:auto;
	width:70%;
	text-align:center;
	height:auto;
}

#id_title{
	font-size:1.5em;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:105px;
	text-align:left;
}

.join_title{
	font-size:1.5em;
	margin-left:165px;
	margin-top:5px;
	margin-bottom:5px;
	text-align:left;
}

.join_box{	
	width:100%;
	margin:0 auto;
}

.eBtn{
	background-color:#AD65E5;
	color:white;
}


/* footer */
#footer {
	width: 100%;
	height: auto;
	
	margin: auto;
}

#joinSession {
	width: 100%;
	height: 300px;
	
	background-color: #1d7cf8;
	
	margin: auto;
	
	text-align: center;
}

#joinSession > div {
	font-size: 2em;
	font-weight: bold;
	
	color: white;
	
	width: 100%;
	
	padding-top: 100px;
	margin-bottom: 20px;
}

#joinButtonFooter {
	height: 40px;
	width: 200px;
	
	background-color: white;
	
	border-radius: 5px;
	
	margin: auto;
	
	color: #300b4c;
	
	font-size: 1em;
	font-weight: bold;
}

/* last */
#last {
	background-color: #300b4c;
	
	width: 100%;
	height: 300px;
	
	color: white; 
}

#last_left {
	
	width: 50%;
	height: 100%;
	float: left;
	
	text-align: center;
}

#last_right {
	
	width: 50%;
	height: 100%;
	float: right;
	
	
}



/* fixed */

#wrapper{
	
	width:1600px;
	height:auto;
	margin:0 auto;
	background-color:#BFBFE9;
	
	padding-top:5px;
}

body{
	width:1600px;
	height:1000px;
}



/* header */

#head{
	background-color:#BFBFE9;
	width:40%;
	height:auto;
	
	text-align:center;
	margin:0 auto;
	
	margin-bottom:5px;
}

#head > h3{
	height:auto;
	font-size:2em;
}
#head > hr{
	width:80%;
}

