<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldenbrothers.everylecture.Admin.dao.IAdminDAO">

	<!-- 조회 -->
	<select id="selectOneAdmin" 
	parameterType="String"
	resultType="com.goldenbrothers.everylecture.Admin.model.AdminDTO">
	
		SELECT * from test.admin WHERE adminID = #{adminID}
		
	</select>
	
	<insert id="uploadLecture" parameterType="com.goldenbrothers.everylecture.Lecture.model.LectureDTO">
		
		INSERT INTO test.lecture (adminID, lectureName, lectureExplain, lectureImgName, lectureImgPath)
		VALUES(#{adminID}, #{lectureName}, #{lectureExplain}, #{lectureImgName}, #{lectureImgPath})
	
	</insert>
	
	<!-- 강의 삭제 -->
	<delete id="deleteOneLecture" parameterType="String">
		DELETE FROM test.lecture WHERE lectureID = #{lectureID}
	</delete>
	
	<!-- 강의 하나 선택 -->
	<select id="selectOneLecture" parameterType="String"
	resultType="com.goldenbrothers.everylecture.Lecture.model.LectureDTO">
	
		SELECT * from test.lecture WHERE lectureID = #{lectureID}
			
	</select>
	
	<!-- 강의 전부 선택 -->
	<select id="selectLectureAll" resultType="com.goldenbrothers.everylecture.Lecture.model.LectureDTO">
		SELECT * from lecture
	</select>

</mapper>