<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldenbrothers.everylecture.Board.dao.IBoardDAO">

	<!-- board 전체 선택 -->
	<select id="selectBoardAll" resultType="com.goldenbrothers.everylecture.Board.model.BoardDTO">
		SELECT * from test.board ORDER BY boardTime DESC
	</select>
	
	
	<!-- 사용자 가져오기 -->
	<select id="selectOneUser" parameterType="String" 
	resultType="com.goldenbrothers.everylecture.Login.model.LoginDTO">
		SELECT * FROM test.user WHERE userID = #{userID}
	</select>
	
	<!-- board 입력 -->
	<insert id="insertBoard" parameterType="com.goldenbrothers.everylecture.Board.model.BoardDTO">
		INSERT INTO test.board (userID, boardName, boardText) VALUES
		(#{userID}, #{boardName}, #{boardText})
	</insert>
	
	<!-- board 하나 가져옴 -->
	<select id="selectOneBoard" parameterType="String"
	resultType="com.goldenbrothers.everylecture.Board.model.BoardDTO">
		SELECT * from test.board WHERE boardID = #{boardID}
	</select>
	
	<!-- board 업데이트 -->
	<update id="updateBoard" parameterType="com.goldenbrothers.everylecture.Board.model.BoardDTO">
		UPDATE test.board SET boardName = #{boardName}, boardText = #{boardText}
		WHERE boardID = #{boardID}
	</update>
	
	<!-- board 삭제 -->
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM test.board WHERE boardID = #{boardID};
	</delete>
	
	<!-- board showed 수 올리기 -->
	<update id="boardCountUp" parameterType="String">
		UPDATE test.board SET showed = showed + 1 WHERE boardID = #{boardID}
	</update>
	
	<!-- board 몇개를 가져오기 -->
	<select id="selectBoardLimit" parameterType="int"
	resultType="com.goldenbrothers.everylecture.Board.model.BoardDTO">
		SELECT * FROM test.board ORDER BY boardTime DESC LIMIT #{start}, #{end}
	</select>
	
	<!-- board 전체 개수 -->
	<select id="selectBoardCount" resultType="int">
		SELECT count(*) FROM test.board
	</select>

</mapper>