@charset "UTF-8";

body {
	width: 1600px;
	height: auto;
	
	margin: auto;
}

#navi {
	background-color: #6260b3;
	width: 100%;
	
	margin: auto;
	display: flex;
}
section {	
	width: 100%;
	height: 110vh;
	background-color: white;
}
#board_top{
	width:80%;
	height:180px;
	text-align:center;	
	margin:0 auto;
	padding-top:50px;
}
#board_image{
	width:520px;
	height:180px;
}

#view_area{
	width:80%;
	height:800px;
	text-align:center;
	margin:0 auto;
}
h3{
	font-size:2em;	
}


#view_content{
	width:80%;
	text-align:center;
	margin:0 auto;
}

#view_table{
	width:810px;
	text-align:center;
	margin:0 auto;
}

#view_table > tr{
	height:40px;
	font-size:1.2em;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}




.view_context{
	height:100%;
}
.view_context > th {
	vertical-align: middle;
	border:3px dashed #bcbcbc;
}
.view_context > th:nth-child(1) {
	width:20%;
}
.view_context > th:nth-child(2) {
	width:80%;
}
button{
	height:60px;
	font-size:1em;	
	border:0px;
	padding-left:10px;
}
textarea{
	width:100%;
	font-size:1.2em;
	border:0px;
	padding-left:20px;
	padding-top:20px;
}


#tr1{
	height:60px;
}
#tr2{
	height:60px;
}
#tr3{
	height:60px;
}
#tr4{
	height:60px;
}

.comment_box {
	width: 80%;
	height: 100px;
	margin: auto;
	
	overflow: auto;
	
	border-top: 1px solid black;
/* 	border-bottom: 1px solid black; */
}

.comment_box:last-child {
	margin-bottom: 200px;
}

.com_left {
	
	height: 100%;
	width: 20%;
	float: left;
	
	text-align: left;
	
	display: table;
}

.com_left > div {
	padding-left: 20px;
	display: table-cell;
	vertical-align: middle;
}

.com_right {
	height: 100%;
	width: 79.8%;
	border-left: 1px solid gray;
	
	float: right;
	
	text-align: left;
	
	display: table;
}

.com_right > div {
	padding-left: 20px;
	display: table-cell;
	vertical-align: middle;
}

.com_delete {
	
}

#com_com {
	width: 80%;
	height: auto;
	
	margin: auto;
	margin-bottom: 10px;
}

#commentWrite {
	width: 100%;
	height: 56.4px;
	
	margin: auto;
}

.comText {
	display: table-cell;
	vertical-align: middle;
	
	width: 100%;
	white-space: pre-line;
}

#commentWrite > textarea {
	
	height: auto;
	
	padding: 0;
	
	border: 1px solid gray;
}

#commentBox {
	width: 80%;
	height: 60px;
	float: left;
	
	min-height: auto;
	resize: none;
	
/* 	display: table-cell; */

	float: left;
	
}

#buttonWrapper {
	width: 20%;
	height: 100%;
	float: right;
}

#buttonWrapper > button {
	width: 100%;
	height: 100%;
}

#delBtn {
	background-color: red;
	float: right;
	
	height: 100%;
	
	color: white;
}

#none {
	width: 80%;
	margin: auto;
}