@charset "UTF-8";


#navi {
	background-color: #6260b3;
	width: 100%;
}
section {	
	width: 100%;
	height: 110vh;
	background-color: white;
}
#board_top{
	width:80%;
	height:180px;
	text-align:center;	
	margin:0 auto;
	padding-top:50px;
}
#board_image{
	width:520px;
	height:180px;
}

#write_area{
	width:80%;
	height:600px;
	text-align:center;
	margin:0 auto;
}

#write_area > form{
	width:80%;
	text-align:center;
	margin:0 auto;
}

#write_table{
	text-align:center;
	margin:0 auto;
}

#write_table > tr{
	height:40px;
	font-size:1.2em;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.write_context{
	height:100%;
	
}

.write_context > th {
	vertical-align: middle;
	border:3px dashed #bcbcbc;
}
.write_context > th:nth-child(1) {
	width:20%;
}
.write_context > th:nth-child(2) {
	width:80%;
}

input{
	height:60px;
	font-size:1em;	
	border:0px;
	padding-left:10px;
}
textarea{
	width:100%;
	font-size:1.2em;
	border:0px;
	padding-left:20px;
	padding-top:20px;
}

h3{
	font-size:2em;	
}

#tr1{
	height:60px;
}
#tr2{
	height:60px;
}

