@charset "UTF-8";

#navi {
	background-color: #6260b3;
	width: 100%;
}
body{
	width:1600px;
	height:1000px;
}

#wrapper{
	
	width:1600px;
	height:auto;
	margin:0 auto;
	background-color:#BFBFE9;
	
	padding-top:5px;
}

/* header */

#head{
	background-color:#E7E7E7;
	width:70%;
	height:100px;
	
	text-align:center;
	margin:0 auto;
	
	margin-bottom:5px;
}

#head > h3{
	height:auto;
	font-size:2em;
}

/* content */

#content{
	background-color:#E7E7E7;
	
	width:70%;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
}

#lecture_intro{
	background-color:white;
	width:80%;
	height:auto;
	text-align:center;
	margin:0 auto;
	padding:10px;
	
}
#intro_image{
	width:50%;
	height:400px;
	float:left;
	background-color:yellow;
}
#intro_title{
	width:50%;
	height:400px;
	float:right;
	background-color:red;
}
#intro_exp{
	margin-top:410px;
	width:100%;
	height:300px;
	background-color:black;
}


/* footer */
#footer {
	width: 100%;
	height: auto;
	
	margin: auto;
}

#joinSession {
	width: 100%;
	height: 300px;
	
	background-color: #1d7cf8;
	
	margin: auto;
	
	text-align: center;
}

#joinSession > div {
	font-size: 2em;
	font-weight: bold;
	
	color: white;
	
	width: 100%;
	
	padding-top: 100px;
	margin-bottom: 20px;
}

#joinButtonFooter {
	height: 40px;
	width: 200px;
	
	background-color: white;
	
	border-radius: 5px;
	
	margin: auto;
	
	color: #300b4c;
	
	font-size: 1em;
	font-weight: bold;
}

/* last */
#last {
	background-color: #300b4c;
	
	width: 100%;
	height: 300px;
	
	color: white; 
}

#last_left {
	
	width: 50%;
	height: 100%;
	float: left;
	
	text-align: center;
}

#last_right {
	
	width: 50%;
	height: 100%;
	float: right;
	
	
}


/* 등록된 강의 보기 */

.lectureTable {
	
	width: 100%;
	height: 200px;
	
	background-color: white;
	
	border: 1px solid gray;
	border-radius: 10px;
	
	margin: auto;
	
	margin-top: 30px;
	margin-bottom: 30px;
}

.lectureLeft {
	height: 100%;
	width: 29.9%;
	
	float: left;
	
	border-right: 1px solid gray;
	border-right-style: dotted;
}

.lectureRight {
	height: 100%;
	width: 69.9%;
	
	float: right;
}

.right_wrapper {
	width: 100%;
	height: 100%;
	
	display: table;
}

.lectureName {
	width: 100%;
	height: 20%;
	
	margin: auto;
	
	font-size: 1.5em;
	
	padding: 0;
	
	display: table;
}

.lectureName > div {
	width: 100%;
	height: auto;
	
	text-align: center;
	
	display: table-cell;
	vertical-align: middle;
}

.lectureExplain {
	
	border-top: 1px solid black;
	
	text-align: center;
	width: 100%;
	height: 79.8%;
	
	display: table;
	
	font-size: 1.5em;
	
}

.lectureExplain > div:nth-child(1) {
	
	width: 80%;
	height: auto;
	
	display: table-cell;
	vertical-align: middle;
	
	text-align: left;
	
	white-space: pre-line;
}

.lectureExplain > div:nth-child(2) {
	
	width: 20%;
	height: 100%;
	
	display: table-cell;
	vertical-align: middle;
	
}

.eBtn {
	
	width: 100%;
	height: 100%;
	
	border-bottom-right-radius: 5px;
	
	font-size: 1em;
	color: white;
}

.lectureImg {
	
	width: 100%;
	height: 100%;
	
}