@charset "UTF-8";


#navi {
	background-color: #6260b3;
	width: 100%;
}
body{
	width:1600px;
	height:1000px;
}

#wrapper{
	
	width:1600px;
	height:auto;
	margin:0 auto;
	background-color:#BFBFE9;
	
	padding-top:5px;
}


/* ********header******** */

#head{
	background-color:#E7E7E7;
	width:70%;
	height:100px;
	
	text-align:center;
	margin:0 auto;
	
	margin-bottom:5px;
}

#head > h3{
	height:auto;
	font-size:2em;
}


/* ********content1******** */

#content1{
	background-color:#E7E7E7;
	
	width:70%;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
}

#lecture_intro{
	background-color:white;
	width:70%;
	height:auto;
	text-align:center;
	margin:0 auto;
	padding:10px;
	padding-top:35px;
}
#intro_image{
	width:40%;
	height:auto;
	float:left;
	text-align:center;
	margin:0 auto;
}
#intro_title{
	width:60%;
	height:auto;
	float:right;
	padding-top:50px;
}
#intro_exp{
	margin-top:210px;
	width:100%;
	height:180px;
}
h3{
	font-size:2em;
}
h2{
	font-size:1em;
}

#image{
	width:200px;
	height:200px;
	padding:0px;
	margin:0 auto;
	test-align:center;
}

/* ********content2******** */

#content2{
	background-color:#E7E7E7;
	
	width:70%;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
}
#video_area{
	
	background-color:white;
	width:70%;
	height:auto;
	text-align:center;
	margin:0 auto;
	padding:10px;
}
#video_section{
	width:100%;
	height:80px;
	border-bottom:10px;
	
	text-align: center;
	font-size: 1.5em;
}

.eBtn {
	
	width: 100%;
	height: 100%;
	
	border-bottom-right-radius: 5px;
	
	font-size: 1em;
	color: white;
}


/* footer */
#footer {
	width: 100%;
	height: auto;
	
	margin: auto;
}


/* last */
#last {
	background-color: #300b4c;
	
	width: 100%;
	height: 300px;
	
	color: white; 
}
#last_left {
	
	width: 50%;
	height: 100%;
	float: left;
	
	text-align: center;
}
#last_right {
	
	width: 50%;
	height: 100%;
	float: right;
	
}
